#myBox{
    background-color: lightblue;
    height: 200px;
    width: 200px;
    font-weight: bolder;
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
body{
    margin: 0;
}