body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(198, 23%, 91%);
}
h1{
    color: hsl(240, 69%, 59%);
}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 15px 10px 55px hsla(0, 0%, 15%, 0.538);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 8%, 0.59);
    border-radius: 5px;

}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: hsla(0, 89%, 51%, 0.8);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: hsla(0, 0%, 100%, 0.762);
    cursor: pointer;

}
button:hover{
    background-color: hsl(0, 98%, 50%);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}