.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;

}

.slider button{
    position: absolute;
    top: 50% ;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
}
.prev{
  left:0;

}
.next{
  right: 0;
}
.slider img{
  width: 1000px;
  height: 885px;
}
.slider{
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes fade {
  from {opacity: .5;}
  to {opacity: 1;}
}